.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #555;
  margin-top: 20px;
}

.footer-names {
  display: flex;
  gap: 15px;
  flex: 1;
}

.footer-names a {
  color: white;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

.footer-names a:hover {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.footer-buttons {
  display: flex;
  gap: 30px;
}

.footer-button {
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-button:hover {
  border-color: orange;
  box-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 15px orange;
}

.team-section {
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #8b4513, #d2b48c);
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-section h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.team-section p {
  margin-bottom: 10px;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
